[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts/
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
